!!! 5
html(lang="en")
  head
    title word card / словесные карты!
    meta(charset="utf-8")
    script(type="text/javascript", src="/lib/jquery-1.5.1.js")
    script(type="text/javascript", src="/lib/underscore.js")
    script(type="text/javascript", src="/lib/backbone.js")
    script(type="text/javascript", src="/models/models.js")
    script(type="text/javascript", src="/views/views.js")
    script(type="text/javascript", src="/controllers/controllers.js")
  body
    p The most awesome app: the word card game!

    div(id="main-content")
      | here we go

    a(href="#") Menu

    // templates

    script(type="text/template", id="menu-template")
      p What do you want to do?
      ul
        li
          a(href="#game") Card game
        li
          a(href="#add") Add a card

    script(type="text/template", id="ask-template")
      ul
        li
          | <% if (lang == 'ru') { %>
          input(class="ask-input")
          | <% } else { %>
          | <%= card.get('ru') %>
          | <% } %>
        li
          | <% if (lang == 'de') { %>
          input(class="ask-input")
          | <% } else { %>
          | <%= card.get('de') %>
          | <% } %>
      p your score is <%= score %> / <%= count %>
      | <% if (result) { %>
      p <%= result %>
      | <% } %>

    script(type="text/template", id="add-template")
      form
        ul
          li
            label Ru:
              input(class="ru")
          li
            label De:
              input(class="de")
          li
            input(type="submit", value="Save")
          | <% if (result) { %>
          p <%= result %>
          | <% } %>



